---
import tiltedDeviceImg from "@assets/img/tilted-device.svg";

const { contributors, untestedCount, name } = Astro.props;
---

<div id="helpWanted" class="scrollspy banner-grey d-print-none">
  <div class="row">
    <div class="col-lg-8 col-sm-12">
      <p>Do you own this device and can help with testing?</p>
      <h3 class="h3 light">
        The <span class="strong">{name}</span> still has
        <span class="text-orange bold underline">{untestedCount}</span>
        unverified features.
      </h3>
      <p id="triggerDiscussionsOpen" class="mt-4">
        → Please contact
        <span class={contributors ? "text-orange underline" : ""}>
          {contributors ? contributors[0].name : "the porter"}
        </span>, they need your help.
      </p>
    </div>
    <div class="phones-container d-print-none">
      <img class="test" src={tiltedDeviceImg} />
    </div>
  </div>
</div>

<script>
  import { componentScriptLoader } from "@logic/client/clientNavigation.js";

  componentScriptLoader("#helpWanted", () => {
    document
      .querySelector("#triggerDiscussionsOpen")
      ?.addEventListener("click", (e) => {
        const ev = new Event("sidebarShow:discussion");
        document.dispatchEvent(ev);
      });
  });
</script>
